
@model List<ResultAboutDto>
<link href="~/feane-1.0.0/css/bootstrap.css" rel="stylesheet" />
<link href="~/feane-1.0.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/feane-1.0.0/css/responsive.css" rel="stylesheet" />
<a href="~/feane-1.0.0/css/style.css.map">~/feane-1.0.0/css/style.css.map</a>
<link href="~/feane-1.0.0/css/style.css" rel="stylesheet" />
@foreach (var item in Model)
{
    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/feane-1.0.0/images/volumerix.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                @item.Title
                            </h2>
                        </div>
                        <p>
                            @item.Description
                        </p>
                        <a href="/Login/Index/">
                            Kayıt Ol
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}