@model List<ResultSocialMediaDto>
@{
    Layout = null;
}
@* // //UISocialmedia *@
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">
@* @await Component.InvokeAsync("_UILayoutSocialMediaComponentPartial")  *@
    @await Component.InvokeAsync("_MenuNavbarComponentPartial")


    
    
<div class="footer_social">

    @foreach (var item in Model)
    {
        <a href="@item.Url">
            <i class="@item.Icon" aria-hidden="true"></i>
        </a>
    }

</div>


@await Component.InvokeAsync("_UILayoutFooterComponentPartial")

@await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>
